Flask==2.2.5
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
psycopg2-binary==2.9.1
web3==5.25.0
eth-account==0.5.9
eth-utils==1.10.0
py-solc-x==1.1.0
python-dotenv==0.19.2
Flask-Cors==3.0.10
requests==2.31.0
gunicorn==20.1.0